/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
 
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
  font-family: "Inter", sans-serif;
  
}


@layer utilities {
  .toggle-nav {
    @apply p-1 border rounded-xl transition-all hover:scale-110
  }
}